.main-nav-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav1-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.logo-img {
  width: 300px;
}

.nav2-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.nav-selectors {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: rgb(19, 19, 19);
  height: 40px;
  list-style: none;
  margin: 0 auto;
}

.nav-selectors a {
  text-decoration: none;
}
.nav-list {
  display: flex;
  align-items: center;
  color: white;
  height: 100%;
}

.free {
  color: #963939;
}
