.main-nav-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav1-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.logo-img {
  width: 300px;
}

.nav2-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.nav-selectors {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: rgb(19, 19, 19);
  height: 50px;
  list-style: none;
  margin: 0 auto;
}

.nav-selectors a {
  text-decoration: none;
}
.nav-list {
  display: flex;
  align-items: center;
  color: white;
  height: 100%;
}

.free {
  color: #963939;
}

/* Dropdown Button */
.dropbtn {
  background-color: rgb(19, 19, 19);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color:rgb(144,44,73);}