.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
  font-size: 20px;
}

.save-container {
  margin-top: 50px;
}

.best-container{
  margin-top: 50px;
}

.save-text{
  font-size: 25px;
  text-align: left;
  margin-left: 100px;
}

.best-text{
  font-size: 25px;
  text-align: left;
  margin-left: 100px;
}
